<footer class="footer_style1">
    <div class="uk-container">
        <div class="inner">
            <section id="footer_part1">
                <div uk-grid>
                    <div class="uk-width-2-5">
                        <div class="footer_widget part1">
                            <div class="title">
                                <img src="{{asset('_dist/_images/logo/logo.png')}}" alt="" title="">
                            </div>
                            <p class="caption">

                            </p>
                        </div>
                    </div>
                    <div class="uk-width-3-5">
                        <div class="footer_widget part2">
                            <div uk-grid class="uk-child-width-1-3 uk-position-relative uk-position-z-index">
                                <div>
                                    <div class="col_part useful">
                                        <div class="title">جیمبوجـا</div>
                                        <div class="list">
                                            <ul>
                                                <li class="item">
                                                    <a href="#" class="link arrow_hover">
                                                        <i class="arrow_style1"></i>
                                                        درباره ما
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" class="link arrow_hover">
                                                        <i class="arrow_style1"></i>
                                                        تماس با ما
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" class="link arrow_hover">
                                                        <i class="arrow_style1"></i>
                                                        پرسش و پاسخ
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" class="link arrow_hover">
                                                        <i class="arrow_style1"></i>
                                                        وبـلاگ
                                                    </a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" class="link arrow_hover">
                                                        <i class="arrow_style1"></i>
                                                        قوانین سایت
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col_part subscribe">
                                        <div class="title">خـبر نامه</div>
                                        <p class="caption">با عضویت در خبرنامه از آخرین کمپین ها و تخفیف ها با خبر باشید
                                            .</p>
                                        <div class="form_subs">
                                            <form>
                                                <div class="frm_item">
                                                    <input type="text" name="mail" placeholder="Your Mail">
                                                    <button type="submit" class="btn">
                                                        <i class="i-mail-sent"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="social_style1">
                                            <ul class="uk-flex uk-flex-center">
                                                <li class="social1_item">
                                                    <a href="#" class="social1_link">
                                                        <i class="i-telegram"> </i>
                                                    </a>
                                                </li>
                                                <li class="social1_item">
                                                    <a href="#" class="social1_link">
                                                        <i class="i-telegram"> </i>
                                                    </a>
                                                </li>
                                                <li class="social1_item">
                                                    <a href="#" class="social1_link">
                                                        <i class="i-telegram"> </i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col_part contact">
                                        <div class="title">تماس با ما</div>
                                        <div class="list">
                                            <ul>
                                                <li class="item">
                                                                <span class="name">
                                                                    <i class="i-placeholder">Behzad Babaei </i>
                                                                </span>
                                                    <span class="val"></span>
                                                </li>
                                                <li class="item">
                                                                <span class="name">
                                                                    <i class="i-mail"> behzadbabaei69@gmail.com</i>
                                                                </span>
                                                    <span class="val">
                                                                    <bdi class="en_word">behzadbabaei69@gmail.com</bdi>
                                                                </span>
                                                </li>
                                                <li class="item">
                                                                <span class="name">
                                                                    <i class="i-phone-call">09304255205 </i>
                                                                </span>
                                                    <span class="val">
                                                                    <bdi class="en_word">021361999</bdi>
                                                                </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="footer_part2" style="padding-bottom: 20px">
                <div uk-grid class="uk-flex-middle">
                    <div class="uk-width-2-5">
                        <p class="policy">

                        </p>
                        <span class="en_word copyright">

                                    </span>
                    </div>
                    <div class="uk-width-3-5">
                        <div class="signs">
                            <ul class="uk-flex uk-flex-left">
                                <li class="sign_item sign_samandehi">
                                    <img data-src="{{asset('_dist/_images/default/Samadehi.png')}}" alt="" data-uk-img class="uk-hidden">
                                </li>
                                <li class="sign_item sign_enamad">
                                    <img data-src="{{asset('_dist/_images/default/Enamad.png')}}" alt="" data-uk-img class="uk-hidden">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>



