<div id="sidebar-menu">
    <ul>
        <li class="has_sub">
            <a href="#" class="waves-effect">
                <span> داشبورد کاربر </span>
                <i class="dripicons-device-desktop"></i>
            </a>
        </li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect">
                <span>سیستم سازمانی <span class="pull-left"><i class="mdi mdi-chevron-left"></i></span></span>
                <i class="fa fa-universal-access"></i>
            </a>
            <ul class="list-unstyled">
                <li >
                    <a href="#" class="waves-effect">
                        <span> نامه</span>
                    </a>

                </li>
                <li >
                    <a href="#" class="waves-effect">

                        <span>درخواست </span>
                    </a>
                </li>

                <li >
                    <a href="#" class="waves-effect">
                        <span>تیکت </span>
                    </a>
                </li>

            </ul>
        </li>


    </ul>
</div>