


<div class="topbar">
    <nav class="navbar-custom">
        <ul class="list-inline float-right mb-0">

            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">


                    <img src="{{ asset('images/default/user_default.jpg') }}" alt="user" class="rounded-circle">

                    <a href="#"><i class="dripicons-exit text-muted"></i> ورود</a>

                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                    <a class="dropdown-item" href="#"><i class="dripicons-user text-muted"></i> پروفایل</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="dripicons-exit text-muted"></i> خروج</a>
                </div>
            </li>
        </ul>

        <!-- Page title -->
        <ul class="list-inline menu-left mb-0">
            <li class="list-inline-item">
                <button type="button" class="button-menu-mobile open-left waves-effect">
                    <i class="ion-navicon"></i>
                </button>
            </li>
            <li class="hide-phone list-inline-item app-search">
                <h3 class="page-title">داشبورد</h3>
            </li>
        </ul>

        <div class="clearfix"></div>
    </nav>
</div>