
{% extends('front/master.html.twig') %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h1>به صفحه کابری خود خوش آمدید</h1>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
