<!DOCTYPE html>
<html  lang="fa" dir="rtl">
<head>
    {% include('front/partial/inner/head.html.twig') %}
</head>
<body>

<!--========== Header ==========-->
{% include('front/partial/inner/header.html.twig') %}

{% block body %} {% endblock %}

</body>
</html>